$main-btn-color: #d10061;
$main-bg-color: black;
$main-bg-footer-color: black;
$main-interaction-color: #00f9b6;
$main-interaction-box-border-color: #1f5e5b;
$main-text-color: #b1b1b1;
$main-header-color: #fff;
